@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");

* {
  margin: 0;
  padding: 0%;
}

body {
  background-color: rgb(14, 22, 31);
}

/*###################
    DROP DOWN MENU STYLES
#####################*/
.nav-bar {
  position: relative;
  white-space: nowrap;
  overflow: auto;
  background-color: white;
}

.dropmenu {
  position: fixed;
  background-color: white;
  width: 100%;
}

.dropmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropmenuitem {
  display: inline-block;
}

.dropmenuitem a {
  font-family: "Asap";
  font-weight: normal;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 20px 20px;
}

.dropdown {
  display: inline-block;
}

.dropdown a {
  color: black;
  text-decoration: none;
}

.dropbutton {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 20px;
  font-size: 16px;
  font-family: "Asap", sans-serif;
}

.dropdown-content {
  position: absolute;
  display: none;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 2);
  background-color: white;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 50px, 50px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
li a:hover,
.dropdown:hover .dropdown {
  background-color: rgb(179, 183, 187);
}

header {
  padding-top: 50px;
}

/*###################
    LANDING PAGE STYLES
#####################*/

.gamedisplay h1 {
  font-family: "Asap", sans-serif;
  color: white;
  text-align: center;
  font-size: 24pt;
  padding: 40px 0px 40px 0px;
}

.gamedisplayflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gamedisplaytextflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gamedisplaytextflex p {
  color: white;
  font-family: "Asap", sans-serif;
  font-size: 20px;
}
cd




/*###################
    ROCK PAPER SCISSORS STYLES
#####################*/







header h1 {
  font-family: "Asap", sans-serif;
  text-align: center;
  background-color: white;
  font-size: 24pt;
  padding: 40px 0px 40px 0px;
}

.result p {
  font-family: "Asap", sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

.scoreboard {
  margin: 20px auto;
  width: 20%;
  color: white;
  font-size: 40px;
  border: white solid 5px;
  border-radius: 5px;
  text-align: center;
  padding: 20px 20px;
  /*Necessary to position child elements as this is a parent element*/
  position: relative;
  font-family: "Asap", sans-serif;
}

.badge {
  background-color: tomato;
  color: white;
  font-size: 14px;
  padding: 2px 12px;
  font-family: "Asap", sans-serif;
}

#user-label {
  /*Allows us to position the id to the correct spot*/
  position: absolute;
  top: 30px;
  left: -30px;
}

#comp-label {
  position: absolute;
  top: 30px;
  right: -30px;
}

.choices {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 30px 0px;
}

.choice {
  margin: 0px 20px;
}

.image {
  position: inherit;
  margin: 20px 20px 20px 20px;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
  animation-name: imageHover;
}

.image:hover {
  animation-play-state: running;
}

@keyframes imageHover {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

body > p {
  font-family: "Asap", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.user-score {
  float: left;
  text-align: right;
  width: 48%;
  margin: auto;
}

.comp-score {
  float: right;
  text-align: left;
  width: 48%;
  margin: auto;
}

.comp-choice {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comp-image {
  margin: auto;
}

/*###################
    TIC TAC TOE STYLES
#####################*/

h2 {
  font-family: "Asap", sans-serif;
  color: white;
  text-align: center;
  padding: 50px 50px;
}

.gridcontainer {
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto; /*Could be written repeat(3, auto)*/
  padding-top: 50px;
  width: 50%;
  height: 600px;
}

.cell {
  background-color: white;
  border: 2px solid;
  text-align: center;
  padding: 50px 0px;
  font-size: 20px;
}

.gamerestart {
  text-align: center;
  background-color: white;
  font-family: "Asap", sans-serif;
  border: none;
  font-size: 24px;
  padding: 20px;
  display: block;
  margin: 0 auto;
}
